[submodule "jmsd_foreign_eastl"]
	path = jmsd_foreign_eastl
	url = https://github.com/jiteman/jmsd_foreign_eastl.git
[submodule "jmsd_foreign_poco"]
	path = jmsd_foreign_poco
	url = https://github.com/jiteman/jmsd_foreign_poco.git
[submodule "jmsd_foreign_poco_openssl"]
	path = jmsd_foreign_poco_openssl
	url = https://github.com/jiteman/jmsd_foreign_poco_openssl.git
[submodule "jmsd_foreign_cppunitlite"]
	path = jmsd_foreign_cppunitlite
	url = https://github.com/jiteman/jmsd_foreign_cppunitlite.git
[submodule "jmsd_foreign_cppunit"]
	path = jmsd_foreign_cppunit
	url = https://github.com/jiteman/jmsd_foreign_cppunit.git
[submodule "jmsd_foreign_googletest"]
	path = jmsd_foreign_googletest
	url = https://github.com/jiteman/jmsd_foreign_googletest.git
[submodule "jmsd_foreign_catch_2"]
	path = jmsd_foreign_catch_2
	url = https://github.com/jiteman/jmsd_foreign_catch_2.git
[submodule "jmsd_foreign_xunit"]
	path = jmsd_foreign_xunit
	url = https://github.com/jiteman/jmsd_foreign_xunit.git
[submodule "jmsd_foreign_cpputest"]
	path = jmsd_foreign_cpputest
	url = https://github.com/jiteman/jmsd_foreign_cpputest.git
[submodule "jmsd_foreign_criterion"]
	path = jmsd_foreign_criterion
	url = https://github.com/jiteman/jmsd_foreign_criterion.git
